$gutter: 15px;
$dgray: #777777;
$lgray: #dcdcdc;
body {
	font-size: 14px;
	min-width: 1008px;
	line-height: 22px;
	font-family: 'Arial', sans-serif;
	height: 100%;
}
#wrapper {
	min-width: 1008px;
}
#inner {
	padding: 25px 36px;
	margin: 0 auto;
	width: 960px;
	min-width: 960px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	min-height: 100vh;
}
.header {
	display: flex;
	justify-content: space-between;
	.contact {
		background-color: $dgray;
		min-height: 108px;
		min-width: 279px;
	}
	.more {
		background-color: $dgray;
		text-align: right;
		min-height: 108px;
		min-width: 513px;
		p {
			color: #fff;
			padding: 0;
			margin: 21px;
		}
		.underline {
			text-decoration: underline;
		}
	}
}
.line {
	hr{
		width: 100%;
		height: 1px;
		color: $dgray;
		background-color: $dgray;
		margin-top: 19px;
		margin-bottom: 22px;
		border: none;
	}
}

.content{
	display: flex;
	.left {
		align-self: space-between;
		flex-basis: 184px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		.green {
			align-self: flex-end;
		}
		.left-menu {
			background-color: $dgray;
			color: #fff;
			text-align: left;
			padding: 19px 13px;
			ul{
				padding: 0;
				margin: 0;
				list-style: none;	
			}
		}
	}
	.center {
		height: 100%;
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		margin-left: $gutter;
		.center-text {
			background-color: $lgray;
			flex-basis: 100%;
			padding: 22px 70px 20px 21px;
			text-align: left;
			margin-bottom: $gutter;
		}

		.center-gallery {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			img {
				margin-right: $gutter;
				margin-bottom: $gutter;
				&:nth-child(5) {
					margin-right: 0;
				}
			}
		}
		.center-subtext {
			display: flex;
			text-align: justify;
			&__1 {
				flex-basis: 49%;
				background-color: $lgray;
				padding: 18px 23px;
				margin-right: 10px;
			}
			&__2 {
				flex-basis: 49%;
				background-color: $lgray;
				padding: 18px 23px;
				margin-left: 10px;
			}
			
		}
	}
}

.footer {
	display: flex;
	color: #fff;
	justify-content: space-between;
	.foot-left {
		flex-basis: 297px;
		background-color: $dgray;
		column-count: 2;
		padding: 18px 25px;
		text-align: left;
		margin-right: 28px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
	.foot-center {
		flex-basis: 297px;
		background-color: $dgray;
		margin-right: 28px;
		padding: 18px 25px;
		ul {
			list-style-type: square;
			margin: 0;
			padding: 0;
		}
	}
	.foot-right {
		flex-basis: 308px;
		display: flex;
		justify-content: space-between;
		flex-flow: column nowrap;
		&__top {
			flex-basis: 50%;
			background-color: $dgray;
			margin-bottom: 28px;
		}
		&__bottom {
			flex-basis: 50%;
		}
	}
}
